<!DOCTYPE html>
<html>
  <head>
    <title>RegApp</title>
    <%= csrf_meta_tags %>
    <!-- importing bootstrap css -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    
    <%= stylesheet_link_tag    'application', 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'index', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
	    <ul class="nav navbar-nav navbar-right">
	      <li><%= link_to("Logout", destroy_user_session_path, :method => :delete) %></li>
	    </ul>
	<%end%>
    <%= yield %>
  </body>
</html>
